@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");

html {
	height: 100%;
}

body {
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: #404040;
  float: left;
  height: 100%;
  width: 100%;
}

#wrapper {
  width: 100%;
  overflow-x: hidden;
}

/* Borrowed */
.borrowed-go-to-home {
  font-weight: bold !important;
  margin-top: 20px !important;
  width: 100% !important;
  margin-top: 0px !important;
  margin-bottom: 20px !important;
}

/* Login */
#login-background {
	background: url("../img/login-background.jpg") no-repeat;
	background-size: cover;
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
}

#login-background-points {
	position: fixed;
  width: 100%;
  height: 100%;
  background: transparent url("../img/login-point.png") repeat;
  z-index: 1;
  display: block;
}

.login-container {
	background-color: rgba(238,238,238,0.9);
	padding: 30px 38px 40px;
	z-index: 2;
	border-radius: 10px;
}

.login-register-user {
  font-weight: bold !important;
  margin-top: 20px !important;
  width: 100% !important;
}

.register-back-login {
  font-weight: bold !important;
  margin-top: 20px !important;
  width: 100% !important;
}

.login-title {
	margin-bottom: 30px;
}

.login-container .form-control {
	margin-bottom: 20px;
}

#body-login {
  padding-top: 0px !important;
}

/* Navbar */
.navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}

.navbar-left a {
  padding-top: 22px !important;
  padding-bottom: 23px !important;
}

.navbar-header a {
  padding-top: 22px !important;
  padding-bottom: 23px !important;
}

/* Footer */
.content-footer {
  width: 100%;
  padding: 20px;
  background: #E8EBF0;
  font-size: 12px;
  color: #526C7F;
}

/* Logo Globant */
#logo-globant {
  float: left;
  margin: 2px 15px 0px 10px;
}

/* Home */
.title-comments {
  margin-top: 15px;
}

.add-comment-submit {
  margin-top: 10px;
}

.add-comment-input {
  resize: none;
}

.delete-comic-container {
  padding-top: 65%;
  text-align: center;
}

.loan-comic-container {
  padding-top: 65%;
  text-align: center; 
}

.alert-comic-borrowed {
  margin: 0 auto;
  width: 50%;
  font-weight: bolder;
}

.dropdown-toggle {
  height: 65px !important;
  padding-top: 22px !important;
}

.dropdown-menu > li > a {
  cursor: pointer !important;
}

.add-new-comic-title {
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  margin-bottom: 15px;
  font-size: 14px;
  padding: 6px 12px;
  width: 100%;
}

.add-new-comic-description {
  width: 264px;
  height: 118px;
  margin-bottom: 15px;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  padding: 6px 12px;
}

.add-new-comic-genre {
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  margin-bottom: 15px;
}

.add-new-comic-stars {
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  margin-bottom: 15px;
  font-size: 14px;
  padding: 6px 12px;
  width: 100%;
}

.home-container {
  padding-top: 90px;
}

.no-match {
  color:red;
}

.stars-container {
  text-align: center;
}

.select-order-genre {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  font-size: 14px;
  margin-bottom: 20px;
}

.title-modifiers {
  margin-left: 0px;
  display: inline-block;
  margin-top: 0px;
}

.cover {
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
}

.main-container {
	margin-top: 100px;
	min-height: 80%;
}

#search-container {
	margin-bottom: 20px;
}

#search-container .input-group-addon {
	font-weight: 900;
}

#search-container input {
	font-weight: 700;
}

.navbar-profile .dropdown-menu {
	min-width: 100%;
}

/* Detalle */
#detalle-img {
	width: 100%;
}

#detalle-title {
	margin-top: 0px;
}

/* Perfil */
#perfil-detalle {
	font-size: 12px;
}

#perfil-label {
	font-weight: bolder;
}