<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    
    <div class="navbar-header">
      <img src="img/globant.jpeg" id="logo-globant" />
      <a class="navbar-brand" href="index.html">Comics Site</a>
    </div>

    <div id="navbar" class="collapse navbar-collapse" ng-controller="HomeController as homeCtrl">
      
      <ul class="nav navbar-nav navbar-left">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown navbar-profile">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="meta">
                <span class="avatar">{{homeCtrl.userLogged.name}}</span>
                <span class="text hidden-xs hidden-sm text-muted"></span>
                <span class="caret"></span>
            </span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a ng-click="homeCtrl.logout()"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
            </li>
            <li>
              <a ui-sref="profile"><i class="glyphicon glyphicon-user"></i> Profile</a>
            </li>
            <li ng-show="homeCtrl.userLogged.role == 'user'">
              <a ui-sref="borrowed"><i class="glyphicon glyphicon-shopping-cart"></i> My Borrowed Comics</a>
            </li>
            <li>
          </ul>
        </li>
      </ul>

    </div><!-- /.nav-collapse -->

  </div><!-- /.container -->
</nav><!-- /.navbar -->

<div class="container home-container">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-9">
        
        <a class="btn btn-success borrowed-go-to-home" role="button" ui-sref="home" >Back To Home</a>

        <div id="search-container" class="row">
          <div class="col-xs-12 col-md-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i> SEARCH TITLE</span>
              <input ng-model="titleFilter" type="text" class="form-control">
            </div>
          </div>
        </div>

        <div role="main">
          <div class="row">

            <div class="col-xs-6 col-md-6" ng-repeat="comic in borrowedCtrl.comics | filter: {title: titleFilter, genre: genreFilter} | orderBy:orderByFilter as filteredComics">
              <div class="thumbnail comic-container">
                <div style="background-image: url(img/covers/{{comic.cover}});" class="cover"></div>
                <div class="caption">
                  <h3 class="text-center">{{comic.title}}</h3>
                  <div class="stars-container">
                    <i class="glyphicon glyphicon-star" ng-repeat="n in [] | range: comic.stars"></i>
                  </div>
                  <h5>Genre: {{comic.genre | uppercase}}</h5>
                  <p>{{comic.description | limitTo: 100 }}</p>
                  <p class="text-center">
                    <a role="button" class="btn btn-primary">Details</a>
                  </p>
                </div>
              </div>
            </div>

            <h2 class="no-match" ng-show="filteredComics.length == 0">No matchs found</h2>

          </div>
        </div>

    </div><!--/.col-xs-12.col-sm-9-->

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas">
      <h2 class="title-modifiers">filter by genre</h2>
      <div class="list-group">
        <a href="#" ng-class="{'active':genreFilter === undefined}" class="list-group-item" ng-click="genreFilter=undefined">All</a>
        <a href="#" ng-class="{'active':genreFilter === 'action'}" class="list-group-item" ng-click="genreFilter='action'">Action</a>
        <a href="#" ng-class="{'active':genreFilter === 'superhero'}" class="list-group-item" ng-click="genreFilter='superhero'">Superhero</a>
        <a href="#" ng-class="{'active':genreFilter === 'european'}" class="list-group-item" ng-click="genreFilter='european'">European</a>
        <a href="#" ng-class="{'active':genreFilter === 'drama'}" class="list-group-item" ng-click="genreFilter='drama'">Drama</a>
      </div>

      <h2 class="title-modifiers">order by</h2>
      <select class="select-order-genre" ng-model="orderByFilter">
        <option value="" >Order By</option>
        <option value="-stars">Stars</option>
        <option value="title">Title</option>
      </select>

    </div><!--/.sidebar-offcanvas-->
  </div><!--/row-->

  <hr>
  <footer>
    <p>© 2016 Alejandro Martin.</p>
  </footer>

</div><!--/.container-->