<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    
    <div class="navbar-header">
      <img src="img/globant.jpeg" id="logo-globant" />
      <a class="navbar-brand" href="index.html">Comics Site</a>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      
      <ul class="nav navbar-nav navbar-left">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown navbar-profile">
          <a style="cursor: pointer" class="dropdown-toggle" data-toggle="dropdown">
            <span class="meta">
                <span class="avatar">{{homeCtrl.userLogged.name}}</span>
                <span class="text hidden-xs hidden-sm text-muted"></span>
                <span class="caret"></span>
            </span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a ng-click="homeCtrl.logout()"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
            </li>
            <li>
              <a ui-sref="profile"><i class="glyphicon glyphicon-user"></i> Profile</a>
            </li>
            <li ng-show="homeCtrl.userLogged.role == 'user'">
              <a ui-sref="borrowed"><i class="glyphicon glyphicon-shopping-cart"></i> My Borrowed Comics</a>
            </li>
            <li>
          </ul>
        </li>
      </ul>

    </div><!-- /.nav-collapse -->

  </div><!-- /.container -->
</nav><!-- /.navbar -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="width: 100%; margin-top: 65px;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" style="width: 100%; margin-top: 65px;">
    <div class="item active">
      <img class="img-advertising" src="img/advertisings/advertising1.jpg" alt="advertising 1">
    </div>
    <div class="item">
      <img class="img-advertising" src="img/advertisings/advertising2.jpg" alt="advertising 2">
    </div>
    <div class="item">
      <img class="img-advertising" src="img/advertisings/advertising3.jpg" alt="advertising 3">
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container home-container">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-9">
        
        <div id="search-container" class="row">
          <div class="col-xs-12 col-md-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i> SEARCH TITLE</span>
              <input ng-model="titleFilter" type="text" class="form-control">
            </div>
          </div>
        </div>

        <div role="main">
          <div class="row">

            <div class="col-xs-6 col-md-6" ng-repeat="comic in homeCtrl.comics | filter: {title: titleFilter, genre: genreFilter} | orderBy:orderByFilter as filteredComics">
              <div class="thumbnail comic-container">
                <div style="background-image: url(img/covers/{{comic.cover}});" class="cover">
                  <div ng-show="homeCtrl.userLogged.role == 'admin'" class="delete-comic-container">
                    <a class="btn btn-danger" role="button" ng-click="homeCtrl.deleteComic(comic)"><i class="glyphicon glyphicon-trash"></i> Delete</a>
                  </div>
                  <div ng-show="homeCtrl.userLogged.role == 'user'" class="loan-comic-container">
                    <a ng-show="!comic.borrowed" class="btn btn-success" role="button" ng-click="homeCtrl.loanComic(comic)"><i class="glyphicon glyphicon-shopping-cart"></i> Loan</a>
                    <div ng-show="comic.borrowed" class="alert alert-danger alert-comic-borrowed" role="alert"><i class="glyphicon glyphicon-thumbs-down"></i> Borrowed</div>
                  </div>
                </div>
                <div class="caption">
                  <h3 class="text-center">{{comic.title}}</h3>
                  <div class="stars-container">
                    <i class="glyphicon glyphicon-star" ng-repeat="n in [] | range: comic.stars"></i>
                  </div>
                  <h5>Genre: {{comic.genre | uppercase}}</h5>
                  <p>{{comic.description | limitTo: 100 }}</p>
                  <!--<p class="text-center">
                    <a role="button" class="btn btn-primary">Details</a>
                  </p>-->
                  <h3 class="title-modifiers title-comments">comments</h3>
                  <div class="alert alert-info" role="alert" ng-repeat="comment in comic.comments"><i class="glyphicon glyphicon-user"></i> <b>{{comment.user.name}}:</b> {{comment.comment}}</div>
                  <form ng-submit="homeCtrl.addComment(comic)">
                    <textarea class="add-comment-input form-control" ng-model="homeCtrl.newComment[comic.id]" required="" placeholder="Description"></textarea>
                    <input type="submit" class="btn btn-s btn-primary btn-block add-comment-submit" value="Add Comment" />
                  </form>
                </div>
              </div>
            </div>

            <h2 class="no-match" ng-show="filteredComics.length == 0">No matchs found</h2>

          </div>
        </div>

    </div><!--/.col-xs-12.col-sm-9-->

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas">
      <h2 class="title-modifiers">filter by genre</h2>
      <div class="list-group">
        <a href="#" ng-class="{'active':genreFilter === undefined}" class="list-group-item" ng-click="genreFilter=undefined">All</a>
        <a href="#" ng-class="{'active':genreFilter === 'action'}" class="list-group-item" ng-click="genreFilter='action'">Action</a>
        <a href="#" ng-class="{'active':genreFilter === 'superhero'}" class="list-group-item" ng-click="genreFilter='superhero'">Superhero</a>
        <a href="#" ng-class="{'active':genreFilter === 'european'}" class="list-group-item" ng-click="genreFilter='european'">European</a>
        <a href="#" ng-class="{'active':genreFilter === 'drama'}" class="list-group-item" ng-click="genreFilter='drama'">Drama</a>
      </div>

      <h2 class="title-modifiers">order by</h2>
      <select class="select-order-genre" ng-model="orderByFilter">
        <option value="" >Order By</option>
        <option value="-stars">Stars</option>
        <option value="title">Title</option>
      </select>

      <div ng-show="homeCtrl.userLogged.role == 'admin'">
        <h2 class="title-modifiers">add new</h2>
        <div class="alert alert-success" role="success" ng-show="homeCtrl.resultAddComic">
          Comic was added successfully
        </div>
        <form ng-submit="homeCtrl.addComic()">
          <input class="add-new-comic-title" type="text" ng-model="homeCtrl.newComic.title" class="form-control" placeholder="Title" required="" autofocus="" />
          <textarea class="add-new-comic-description form-control" ng-model="homeCtrl.newComic.description" required="" placeholder="Description"></textarea>
          <select class="add-new-comic-genre form-control" ng-model="homeCtrl.newComic.genre" required="">
            <option value="">Genre</option>
            <option value="action">Action</option>
            <option value="drama">Drama</option>
            <option value="superhero">SuperHero</option>
            <option value="european">European</option>
          </select>
          <input type="number" placeholder="stars" class="add-new-comic-stars" ng-model="homeCtrl.newComic.stars" class="form-control" required="" autofocus="" min="1" max="5" step="1"/>
          <input type="submit" class="btn btn-lg btn-primary btn-block" value="Add Comic" value="Submit" />
        </form>
      </div>

    </div><!--/.sidebar-offcanvas-->
  </div><!--/row-->

  <hr>
  <footer>
    <p>© 2016 Alejandro Martin.</p>
  </footer>

</div><!--/.container-->